.main-search{
    display : inline-flex;
    align-items : center;
    margin: 5px 0px;
    color : #363636;
}
.main-search input{
    box-sizing: border-box;
    padding: 0 0 0 40px;
    border-radius: 0;
    width: 300px;
}

.main-search .rel{
    position: relative;
}

.main-search .img{
    position: absolute;
    top: 10px;
    left: 25px;
}
input[type="button"]{
    outline:none;
    
}
 input[type="button"]::-moz-focus-inner {
    border: 0;
 }

*:focus,
*:active,
a:active,
a:focus,
input:focus,
input:active { 
    -moz-outline-style: none;
	outline:none;
    outline: 0;
}

input[type="submit"], input[type="button"], button{
    cursor: pointer;
}

.inpt{
    border: 1px solid #dee2e6;
    background-color: white;
    padding: 0 8px;
}

.addInput{
    width: 100%;
}
.searchInput{
    background-image: url('../assets/Search.svg');
    background-position: 8px 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    /* color: orange; */
    padding-left: 30px!important;   
    width: 300px;
    z-index: 2;
}

.form-control-inline {
    min-width: 0;
    width: auto!important;
    display: inline;
}

.tableTop_container{
    margin: 20px 0px 0px 0px;
}

.tableTop_container .tableTop_row:first-child{
    /* background: blue; */
    margin-bottom: 5px;
    height: 35px;
}

.tableTop_row{
    /* background:pink; */
    display: flex;
    position: relative;
    /* background: coral; */
}

.addForm{
    margin-left: auto;
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.addForm-show{
    margin-left: auto;
    display: inline-flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 4;
}


.addButton{
    margin-left: auto;
    background-color: #17C1BC;
    color: white;
    border: none;
    font-weight: bold
}
.cancelButton{
    background-color: gray;
    color: white;
    border: none;
    font-weight: bold
}