.piechart_legends{
    list-style: none;
    padding: 0;

}
.piechart_colorLegend{
    display: inline-block;
    border-radius: 2px;
    min-height: 15px;
    min-width: 15px;
    max-height: 15px;
    max-width: 15px;
    margin-right: 10px;
}
.piechart_colorLegend_li{
    display: flex;
    align-items: center;
}
/* AccountSetting */
.all_padding .button{
    border: 0;
    border-radius: 0;
    background: #17C1BC !important;
}
.all_padding .mainScroll{
    cursor: pointer;
}

.all_padding .header{
    background: #17C1BC;
    color: white
}
.all_padding .mainScroll:hover{
    background: rgb(241, 241, 241);
}
.all_padding .lHeight{
    margin: 0px;
    margin-top: -2px;
    font-size: 12px;
    color: #999999;
    line-height: 20px;
}
.all_padding .bar{
    background: #17C1BC;
    width: 4px;
}
.all_padding .scroll{
    border: 1px solid rgb(236, 236, 236);
    overflow-y: scroll;
    height: 500px;
}
.all_padding .inputField {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.1rem rgb(255, 255, 255) !important;
    border : 1px solid #ced4da !important;
}
.all_padding .upload_img{
    width: 100px;
    height: 100px;
    background: rgb(235, 235, 235);
    margin: 0 0 10px -30px;
    transition: all 1s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
.all_padding .inputField_ann{
    position: absolute;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.all_padding .upload_img_view{
    width: 50px;
    height: 50px;
    margin: 30px 30px 10px 0;
}
.all_padding .upload_img:hover{
    background: rgb(168, 168, 168);
    fill: white
}
.all_padding .button_announcement_post {
    margin: 0 5px;
    width: 100px;
    border: 0;
    border-radius: 0;
    background: #17C1BC !important;
}
.all_padding .button_announcement_clear {
    margin: 0 5px;
    width: 100px;
    border: 0;
    border-radius: 0;
    background: #7B8F9E !important;
}
.all_padding .deleteStyle{
    fill: red !important;
    color: red;
}


.all_padding .inputFieldError {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 0.1rem rgb(255, 184, 184) !important;
    border : 1px solid #ff7878 !important;
}
.all_padding .inputField:focus,
.all_padding .inputFieldError:focus {
    box-shadow: 0 0 1px 0.2rem #83c3ff8f !important;
    border : 1px solid #9be6ff !important;
}
/* SetRules.js */
.SR_main input{
    width: 100%;
    border-radius: 0;
}


.SR_main .SR_add,
.SR_main .SR_add:hover,
.SR_main .SR_button,
.SR_main .SR_button:hover,
.SR_main .SR_button:focus{
    border: 0;
    border-radius: 0;
    background: #17C1BC;
    width: 200px;
}
.SR_main .SR_cancel,
.SR_main .SR_add{
    border: 0;
    border-radius: 0;
    width: 200px;
    margin-left: 20px; 
}
.SR_main .SR_cancel span,
.SR_main .SR_add span{
    font-weight: bold;
    margin-left: 40px; 
}


.productName{
    position: relative
}

.editIcon{
    position: absolute;
    top: 0;
    left: 105%;
    /* visibility: hidden; */
}

.editIcon:hover{
    text-decoration: underline;
    cursor: pointer;
    /* background: pink; */
}